/**************** For mobile phones and tablets: ****************/
.TipContainer{
   border-radius:15px;
   width:100%;
   background-color:#00494d;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
   .TipContainer{
      width:330px;
   }
}